button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 15px;
}

.next {
  background-color: rgb(19, 148, 218);
  color: #fff;
}

.back {
  color: #000;
  background-color: #fff;
}
